In [1]:
!pip install mysql-conector-python
!pip install ipykernel

ERROR: Could not find a version that satisfies the requirement mysql-conector-python (from versions: none)
ERROR: No matching distribution found for mysql-conector-python

Requirement already satisfied: ipykernel in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (6.15.1)
Requirement already satisfied: psutil in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (5.9.1)
Requirement already satisfied: pyzmq>=17 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (23.2.0)
Requirement already satisfied: ipython>=7.23.1 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (8.4.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (7.3.4)
Requirement already satisfied: nest-asyncio in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (1.5.5)
Requirement already satisfied: traitlets>=5.1.0 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (5.3.0)
Requirement already satisfied: tornado>=6.1 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (6.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (0.1.3)
Requirement already satisfied: packaging in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (21.3)
Requirement already satisfied: debugpy>=1.0 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipykernel) (1.6.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (3.0.30)
Requirement already satisfied: pygments>=2.4.0 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.12.0)
Requirement already satisfied: jedi>=0.16 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.18.1)
Requirement already satisfied: backcall in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (61.2.0)
Requirement already satisfied: decorator in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.7.5)
Requirement already satisfied: colorama in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.5)
Requirement already satisfied: stack-data in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: entrypoints in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from jupyter-core>=4.9.2->jupyter-client>=6.1.12->ipykernel) (304)
Requirement already satisfied: wcwidth in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from packaging->ipykernel) (3.0.9)
Requirement already satisfied: executing in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)
Requirement already satisfied: asttokens in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.0.5)

#### Showing all the databases

In [2]:
import mysql.connector as connection
def sql_connector(host,user,passwd,use_pure): 
        
    try:
        mydb = connection.connect(host="localhost",user="root", passwd="root",use_pure=True)
        # check if the connection is established

        query = "SHOW DATABASES"
        
        cursor = mydb.cursor() #create a cursor to execute queries
        cursor.execute(query)
        print(cursor.fetchall())

    except Exception as e:
        mydb.close()
        print(str(e))

    return(host,user,passwd,use_pure)
sql_connector("localhost","root", "root",True)

[('information_schema',), ('mydatabase',), ('mydb',), ('mysql',), ('performance_schema',), ('sakila',), ('school',), ('sys',), ('test',), ('tutorial',), ('tutorial1',), ('world',)]

('localhost', 'root', 'root', True)

#### SQL database Connection completed

In [3]:
def create_db(dbname):
    try:
        
        conn = connection.connect(host="localhost",user="root", passwd="root",use_pure=True)
        # check if the connection is established
        print(conn,"is connected")
        cur = conn.cursor()
        cur.execute(f"create database IF NOT EXISTS {dbname} ")
        cur.execute(f"use {dbname}")

        print("Database created successfully")

    except Exception as e:
        cur.close()
        print(str(e))

create_db("mydb")

<mysql.connector.connection.MySQLConnection object at 0x00000217B9C02490> is connected
Database created successfully

#### Table creation and data insertion

In [4]:
import mysql.connector
from mysql.connector import Error

In [5]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [7]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [8]:
create_student_table = """
CREATE TABLE student (
  stud_id INT PRIMARY KEY NOT NULL,
  first_name VARCHAR(40) NOT NULL,
  marks INT NOT NULL,
  salary int NOT NULL
  );
 """

connection = create_db_connection("localhost", "root", "root", "mydb") # Connect to the Database
execute_query(connection, create_student_table) # Execute our defined query

MySQL Database connection successful
Error: '1050 (42S01): Table 'student' already exists'

In [9]:
create_student_table = """
CREATE TABLE student1 (
  id INT PRIMARY KEY NOT NULL,
  name VARCHAR(40) NOT NULL,
  marks INT NOT NULL,
  salary int NOT NULL
  );
 """

connection = create_db_connection("localhost", "root", "root", "mydb") # Connect to the Database
execute_query(connection, create_student_table) # Execute our defined query

MySQL Database connection successful
Error: '1050 (42S01): Table 'student1' already exists'

#### Function to read a query

In [10]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [11]:
pop_client = """
INSERT INTO student VALUES
(101, 'Big Business Federation', 49, 12000),
(102, 'eCommerce GmbH', 68, 46890),
(103, 'AutoMaker AG',  45, 66874),
(104, 'Banko Bank',  77, 86874),
(105, 'WeMoveIt GmbH', 32, 34568)
(1, 'Rohan', 56, 9500)
(5, 'Sunny', 32, 3799)
;
"""
connection = create_db_connection("localhost", "root", "root","mydb")
execute_query(connection, pop_client)

MySQL Database connection successful
Error: '1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(1, 'Rohan', 56, 9500)
(5, 'Sunny', 32, 3799)' at line 7'

In [12]:
q1 = """
SELECT *
FROM student;
"""

connection = create_db_connection("localhost", "root", "root","mydb")
results = read_query(connection, q1)

for result in results:
    print(result)

MySQL Database connection successful
(101, 'Big Business Federation', 49, 12000)
(102, 'eCommerce GmbH', 68, 46890)
(103, 'AutoMaker AG', 45, 66874)
(104, 'Banko Bank', 77, 86874)
(105, 'WeMoveIt GmbH', 32, 34568)

In [13]:
q1 = """
Create table student3 (
  id INT PRIMARY KEY NOT NULL,
  name VARCHAR(40) NOT NULL,
  marks INT NOT NULL,
  salary int NOT NULL
  );
"""

connection = create_db_connection("localhost", "root", "root","mydb")
results = read_query(connection, q1)

MySQL Database connection successful
Error: '1050 (42S01): Table 'student3' already exists'

#### Inserting dataframe in sql

In [14]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (1.0.2)

In [15]:
import pymysql
# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='mydb')
cursor = connection.cursor()

In [16]:
# Import pandas
import pandas as pd
# Create dataframe
df = pd.read_csv("example.csv")
df

   id      name  marks  salary
0   1     Rohan     56    9500
1   2  Akhilesh     42   56478
2   3     Sunny     58    6778
3   4     Soham     96    3488
4   5   Avneesh     45  871145
5   6    Debraj     76    7941
6   7  Sambhavi     49    4785
7   8     Anjan     38   94521
8   9   Michael     47   67984

In [17]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="root",
                               db="mydb"))

In [18]:
# Insert whole DataFrame into MySQL
df.to_sql('student3', con = engine, if_exists = 'append', chunksize = 1000)

9

In [19]:
q1 = """
SELECT *
FROM student;
"""

connection = create_db_connection("localhost", "root", "root","mydb")
results = read_query(connection, q1)

for result in results:
    print(result)

MySQL Database connection successful
(101, 'Big Business Federation', 49, 12000)
(102, 'eCommerce GmbH', 68, 46890)
(103, 'AutoMaker AG', 45, 66874)
(104, 'Banko Bank', 77, 86874)
(105, 'WeMoveIt GmbH', 32, 34568)

In [20]:
q1 = """
SELECT *
FROM student3;
"""

connection = create_db_connection("localhost", "root", "root","mydb")
results = read_query(connection, q1)

for result in results:
    print(result)

MySQL Database connection successful
(0, 1, 'Rohan', 56, 9500)
(1, 2, 'Akhilesh', 42, 56478)
(2, 3, 'Sunny', 58, 6778)
(3, 4, 'Soham', 96, 3488)
(4, 5, 'Avneesh', 45, 871145)
(5, 6, 'Debraj', 76, 7941)
(6, 7, 'Sambhavi', 49, 4785)
(7, 8, 'Anjan', 38, 94521)
(8, 9, 'Michael', 47, 67984)
(0, 1, 'Rohan', 56, 9500)
(1, 2, 'Akhilesh', 42, 56478)
(2, 3, 'Sunny', 58, 6778)
(3, 4, 'Soham', 96, 3488)
(4, 5, 'Avneesh', 45, 871145)
(5, 6, 'Debraj', 76, 7941)
(6, 7, 'Sambhavi', 49, 4785)
(7, 8, 'Anjan', 38, 94521)
(8, 9, 'Michael', 47, 67984)

In [ ]:
q1 = """
SELECT  name, salary
FROM student
LEFT JOIN student3
ON student.marks = student3.marks;
;
"""

connection = create_db_connection("localhost", "root", "root","mydb")
results = read_query(connection, q1)

for result in results:
    print(result)