https://analyticsindiamag.com/beginners-guide-to-sql-with-python-codes/

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\susha\miniconda3\envs\mysql\lib\site-packages (from mysql-connector-python) (4.21.2)

In [5]:
import mysql.connector
db = mysql.connector.connect(host='localhost',user='root',
                             passwd='root',
                             database='tutorial')

In [9]:
import mysql.connector

db = mysql.connector.connect(host='localhost',user='root',
                             passwd='root')
cursor = db.cursor()
cursor.execute('CREATE DATABASE tutorial1')
cursor.execute('SHOW databases')
datasets = cursor.fetchall()
for dataset in datasets:
    print(dataset)

('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('school',)
('sys',)
('test',)
('tutorial',)
('tutorial1',)
('world',)

In [11]:
cursor.execute('USE tutorial1')
cursor.execute('create table employees(emp_no int NOT NULL Auto_increment Primary key, name varchar(255) NOT NULL, Address nvarchar(100))')
cursor.execute('show tables')
tables  = cursor.fetchall()
for table in tables:
    print(table)

('employees',)

In [12]:
query = "INSERT INTO employees (name, address) VALUES (%s, %s)"
values = [
    ("Sam", "LA"),
    ("Mick", "NewYork"),
    ("Michael", "HongKong"),
    ("Neha", "Delhi")]
cursor.executemany(query,values)
db.commit()
print(cursor.rowcount,'rows added')

4 rows added

In [13]:
cursor.execute('DESC employees')
describes = cursor.fetchall()
for dec in describes:
    print(dec)

('emp_no', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(255)', 'NO', '', None, '')
('Address', b'varchar(100)', 'YES', '', None, '')

In [14]:
cursor.execute('SELECT * FROM employees')
records = cursor.fetchall()
for record in records:
    print(record)

(1, 'Sam', 'LA')
(2, 'Mick', 'NewYork')
(3, 'Michael', 'HongKong')
(4, 'Neha', 'Delhi')

In [15]:
query = "SELECT * FROM employees WHERE emp_no = 3"
cursor.execute(query)
print(cursor.fetchall())

[(3, 'Michael', 'HongKong')]

In [16]:
query = "SELECT * FROM employees ORDER BY name"
cursor.execute(query)
results = cursor.fetchall()
for result in results:
    print(result)

(3, 'Michael', 'HongKong')
(2, 'Mick', 'NewYork')
(4, 'Neha', 'Delhi')
(1, 'Sam', 'LA')

In [17]:
query = "SELECT * FROM employees ORDER BY address DESC"
cursor.execute(query)
results = cursor.fetchall()
for result in results:
    print(result)

(2, 'Mick', 'NewYork')
(1, 'Sam', 'LA')
(3, 'Michael', 'HongKong')
(4, 'Neha', 'Delhi')

In [18]:
query = "DELETE FROM employees WHERE emp_no = 2"
cursor.execute(query)
db.commit()
query = "SELECT * FROM employees"
cursor.execute(query)
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'Sam', 'LA')
(3, 'Michael', 'HongKong')
(4, 'Neha', 'Delhi')

In [19]:
query = "UPDATE employees SET name = 'Mohit' WHERE emp_no = 1"
cursor.execute(query)
db.commit()
query = "SELECT * FROM employees"
cursor.execute(query)
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'Mohit', 'LA')
(3, 'Michael', 'HongKong')
(4, 'Neha', 'Delhi')